<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/stylesheets/navbar.css" />
    </head>
    <body>
        <header class="header">
            <nav class="navbar">
                <a class="logo" href="/inventory">
                    <img
                        src="https://swiss-maquetacion.vercel.app/assets/logo-bf969939.png"
                    />
                </a>
                <ul class="navbar-list">
                    <li class="navbar-list__item">
                        <a class="navbar-list__item-link" href="/inventory"
                            >Home</a
                        >
                    </li>
                    <li class="navbar-list__item">
                        <a
                            class="navbar-list__item-link"
                            href="/inventory/allItems"
                            >Inventario</a
                        >
                    </li>
                    <li class="navbar-list__item">
                        <a class="navbar-list__item-link" href="/auth/logout"
                            >Logout</a
                        >
                    </li>
                </ul>
                <img
                    class="hamburger-menu"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Hamburger_icon_white.svg/1024px-Hamburger_icon_white.svg.png"
                />
            </nav>
        </header>
    </body>
</html>
