<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link rel='stylesheet' href='/stylesheets/login.css' />
    </head>
    <body>
        <div class="login-container">
            <form class="form" action="/auth/login" method="post">
                <label class="form-label" for="email">Email</label>
                <input class="form-input" name="email" type="email" autofocus />
                <label class="form-label" for="password">Contraseña</label>
                <input class="form-input" name="password" type="password" />
                <button class="form-button" type="submit">Login</button>
            </form>
                <a class="form-register" href="/auth/register">Registrarse</a>
                <h2 class="error"><%= message %></h2>
        </div>
    </body>
</html>
