<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method="post">
        <label for="email">Email</label>
        <input name="email" type="email" />
        <label for="password" >Contraseña</label>
        <input name="password" type="password" />
        <button>Login</button>
    </form>
</body>
</html>