<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Hi, welcome to our register page!</h1>
    <form method="post">
        <label for="name">Name</label>
        <input name="name" />
        <label for="surname">Surname</label>
        <input name="surname" />
        <label for="email">Email</label>
        <input name="email" type="email" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <label for="password2">Confirm password</label>
        <input name="password2" type="password" />
        <button>Register</button>
    </form>
</body>
</html>